In [ ]:
import numpy as np
import pandas as pd
import sklearn
import datetime

In [ ]:
#MAKE SURE TO REFER TO THE RAW VERSION OF THE CSV ON GITHUB!
automobile_df = pd.read_csv('https://raw.githubusercontent.com/JohnMHoyt24/data-prep/main/cars.csv')
automobile_df = automobile_df.replace('?', np.nan)
automobile_df.head(5)

    mpg  cylinders  displacement  ... model year  origin                   car name
0  18.0          8         307.0  ...         70       1  chevrolet chevelle malibu
1  15.0          8         350.0  ...         70       1          buick skylark 320
2  18.0          8         318.0  ...         70       1         plymouth satellite
3  16.0          8         304.0  ...         70       1              amc rebel sst
4  17.0          8         302.0  ...         70       1                ford torino

[5 rows x 9 columns]

In [ ]:
automobile_df.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64

In [ ]:
automobile_df['mpg'] = automobile_df['mpg'].fillna(automobile_df['mpg'].mean())
automobile_df.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64